<div class="c-newsletter">
  <div class="c-newsletter__header">
    <h4 class="c-newsletter__title">Connect</h4>
    <div class="c-newsletter__subtitle">Need my help? Want to collaborate on an idea?</div>
  </div>
  <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="dewanmukto" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/dewanmukto?trk=profile-badge">Dewan Mukto</a></div>
</div> <!-- /.c-newsletter -->
